<html lang="en">
<head>
    <title>LoL Champions</title>
    <link rel="icon" href="/static/favicon.png" type="image/x-icon">
</head>
<body>
    <h1>Welcome to League of Legends Champions page</h1>
    <button>
        <a href="/champions/">see champions</a> 
    </button>
    

    <h1>Create a Champion</h1>
    <form action="/champions/" method="post">
        <label for="name">Champion Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="resource">Resource:</label><br>
        <input type="text" id="resource" name="resource" required><br><br>

        <input type="submit" value="Create Champion">
    </form>
</body>
</html>